.Modified {
    background-color:   palegreen;
}

.Added {
    background-color:   palegreen;
}

.In-Process {
    background-color:    salmon;
}

.Deleted {
    text-decoration:   line-through;
    opacity:  0.6;
}

.Help {
    text-align: left;
}

.unknown, .Cancelled  {
    text-decoration:   blink;
}

/* styles for the new UI : row backgrounds */
.Published, .defualt {
}

.Approved {
    background-color: #DAEEF3;
}

.Processing {
    background-color: #FCD5B4;
}

/* styles for the new UI : text style */
.Insert-Processing, .Insert-Processing-New {
    color: #366092;
}

.Insert-Approved, .Insert-Approved-New {
    /* blank on purpose */
}

.Insert-Cancelled, .Insert-Cancelled-New {
    color: #BFBFBF;
    font-style: italic;
}

.Insert-Rejected, .Insert-Rejected-New {
    color: #632523;
    font-style: italic;
    font-weight: bold;
}

.Modify-Processing, .Modify-Processing-New {
    color: #963634;
}

.Modify-Processing-Old {
    color: #F5A52F;
    text-decoration: line-through;
}

.Modify-Approved, .Modify-Approved-New {
    /* blank on purpose */
}

.Modify-Cancelled, .Modify-Cancelled-New {
    color: #BFBFBF;
    font-style: italic;
}

.Modify-Cancelled-Old {
    color: #BFBFBF;
    font-style: italic;
    text-decoration: line-through;
}

.Modify-Rejected, .Modify-Rejected-New {
    color: #632523;
    font-style: italic;
    font-weight: bold;
}

.Modify-Rejected-Old {
    color: #632523;
    font-style: italic;
    font-weight: bold;
    text-decoration: line-through;
}

.Delete-Processing, .Delete-Processing-New {
    color: #F5A52F;
    text-decoration: line-through;
}

.Delete-Approved, .Delete-Approved-New {
    color: #BFBFBF;
    text-decoration: line-through;
}

.Delete-Cancelled, .Delete-Cancelled-New {
    color: #BFBFBF;
    font-style: italic;
    text-decoration: line-through;
}

.Delete-Rejected, .Delete-Rejected-New {
    color: #632523;
    font-style: italic;
    font-weight: bold;
    text-decoration: line-through;
}

.noBorders>tbody>tr, .noBorders>tbody>tr>td {
    background: none;
    border: none;
    /* vertical-align: top; */
}

.heading {
    text-align: left;
}

.fixedPosition {
    position: fixed;
    right: 5%;
    top: 10%;
}

.box {
    margin: 0px;
    padding: 10px;
    border: 0px solid LightGray;
    border-radius: 7px;
    box-shadow: 0 0 7px 2px #888888;
    color: black;
    /* text-align: left; */
    /* width: 80%; */
    /* background-color: #FFFFFF;  */
}

.boxf {
    margin: 0px;
    padding: 10px;
    border: 0px solid #000000;
    color: black;
    width: 90%;
    margin: 0  auto;
    /* background-color: #FFFFFF; */
}

/* text wrap around in data table*/
.ui-datatable td {
   white-space: normal !important;
}

.para {
    margin-bottom: 10px;
    padding: 0px;
    text-align: left;
    border: none;
    max-width: 1300px;
}
.menubar {
    /* color: LightSlateGray; */
}


.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}
.Logo
{
    font-style: normal;
    vertical-align: middle;
    text-decoration: none;
    background-image: url('../images/header-bg.png');
    background-repeat: repeat;
}

.ui-datatable-data {
    text-align: left;
}

.previewTreeTable {
	width: 600px;
	max-height: 300px;
	overflow: auto;
}

#top {
    position: relative;
    border: 1px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#menuform .ui-menuitem {
    margin-right: 7px;
}

/*

#top {
    position: relative;
    border: 1px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #FFFFFF;
    color: LightSlateGray;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}

.h1 {
    font-size:  16px;
    margin-bottom: 10px;
    padding: 0px;
    color: #086A87;
    text-align: left;
}

#content {
    text-align: left;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
*/
/*
#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: lightslategrey;
    font-weight : bold;
    text-decoration : underline;
}
*/
