body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}

html {
    height:100%;
}

body * {
    position:relative;
}

table {

    border-spacing:0;
}

a {
    text-decoration:none;
}

body:after,.cf:after {
    content:'.';
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}