* text=auto !eol
/README.txt -text
/Release-Notes.txt -text
data/categories-privileges.sql -text
data/sample-data.sql -text
design/names-schema-2.0.mwb -text
design/names_schema_upgrade-2.1-to-2.4.sql -text
design/names_schema_v1.eap -text
design/names_schema_v1.sql -text
design/names_schema_v1_views.sql -text
design/names_schema_v2.0.sql -text
design/names_schema_v2.1.sql -text
design/names_schema_v2.2.eap -text
design/names_schema_v2.2.sql -text
design/names_schema_v2.3.1.eap -text
design/names_schema_v2.3.1.sql -text
design/names_schema_v2.3.eap -text
design/names_schema_v2.3.sql -text
design/names_schema_v2.4.eap -text
design/names_schema_v2.4.sql -text
design/names_schema_v2.5.sql -text
design/names_schema_v3.0.sql -text
docs/Names-Design-v2.3.docx -text
docs/Names-Design-v2.3.pdf -text
docs/Names-Installation-v2.3.pdf -text
docs/Names-Installation-v2.4.docx -text
/faces-config.NavData -text
/nb-configuration.xml -text
/pom.xml -text
src/main/java/org/openepics/names/EditNamesManager.java -text
src/main/java/org/openepics/names/LoginManager.java -text
src/main/java/org/openepics/names/MenuManager.java -text
src/main/java/org/openepics/names/NCNamesManager.java -text
src/main/java/org/openepics/names/NamesEJB.java -text
src/main/java/org/openepics/names/NamesEJBLocal.java -text
src/main/java/org/openepics/names/NamesManager.java -text
src/main/java/org/openepics/names/PreferencesManager.java -text
src/main/java/org/openepics/names/PublicationManager.java -text
src/main/java/org/openepics/names/ReportManager.java -text
src/main/java/org/openepics/names/RequestManager.java -text
src/main/java/org/openepics/names/RequestProcManager.java -text
src/main/java/org/openepics/names/UserManager.java -text
src/main/java/org/openepics/names/environment/NameCategories.java -text
src/main/java/org/openepics/names/model/Configuration.java -text
src/main/java/org/openepics/names/model/NCName.java -text
src/main/java/org/openepics/names/model/NameCategory.java -text
src/main/java/org/openepics/names/model/NameEvent.java -text
src/main/java/org/openepics/names/model/NameRelease.java -text
src/main/java/org/openepics/names/model/Privilege.java -text
src/main/java/org/openepics/names/nc/NamingConventionEJB.java -text
src/main/java/org/openepics/names/nc/NamingConventionEJBLocal.java -text
src/main/java/org/openepics/names/nc/NamingConventionException.java -text
src/main/java/org/openepics/names/service/NameElement.java -text
src/main/java/org/openepics/names/service/NameElementCategoryResource.java -text
src/main/java/org/openepics/names/service/NameElementResource.java -text
src/main/java/org/openepics/names/service/NameEventResource.java -text
src/main/java/org/openepics/names/service/NameReleaseResource.java -text
src/main/java/org/openepics/names/service/NameRestService.java -text
src/main/java/org/openepics/names/service/nc/DefaultResource.java -text
src/main/java/org/openepics/names/service/nc/NamingConventionRestService.java -text
src/main/resources/META-INF/persistence.xml -text
src/main/resources/messages.properties -text
src/main/setup/glassfish-resources.xml -text
src/main/webapp/WEB-INF/beans.xml -text
src/main/webapp/WEB-INF/faces-config.xml -text
src/main/webapp/WEB-INF/glassfish-resources.xml -text
src/main/webapp/WEB-INF/glassfish-web.xml -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/about.xhtml -text
src/main/webapp/api-manual.xhtml -text
src/main/webapp/error.xhtml -text
src/main/webapp/expired.xhtml -text
src/main/webapp/help.xhtml -text
src/main/webapp/index.xhtml -text
src/main/webapp/login.xhtml -text
src/main/webapp/menubar.xhtml -text
src/main/webapp/names.xhtml -text
src/main/webapp/namesTemplate.xhtml -text
src/main/webapp/nc-dev-edit.xhtml -text
src/main/webapp/nc-report.xhtml -text
src/main/webapp/nc-request-proc.xhtml -text
src/main/webapp/nc-sig-edit.xhtml -text
src/main/webapp/parts-request-proc.xhtml -text
src/main/webapp/parts-request-sub.xhtml -text
src/main/webapp/preferences.xhtml -text
src/main/webapp/publish.xhtml -text
src/main/webapp/reports.xhtml -text
src/main/webapp/resources/comps/logincomp.xhtml -text
src/main/webapp/resources/css/cssLayout.css -text
src/main/webapp/resources/css/default.css -text
src/main/webapp/resources/images/ajax-loader.gif -text
src/main/webapp/resources/images/body-bg.jpg -text
src/main/webapp/resources/images/csv.png -text
src/main/webapp/resources/images/excel.png -text
src/main/webapp/resources/images/format.png -text
src/main/webapp/resources/images/header-bg.png -text
src/main/webapp/resources/images/pdf.png -text
src/main/webapp/resources/images/proteus.ico -text
src/main/webapp/resources/images/proteus.png -text
src/main/webapp/resources/images/xml.png -text
src/test/java/org/openepics/names/AllTests.java -text
src/test/java/org/openepics/names/nc/NCTestSuite.java -text
src/test/java/org/openepics/names/nc/NamingConventionEJBTest.java -text
