* text=auto !eol
/README.txt -text
/Release-Notes.txt -text
data/categories-privileges.sql -text
data/sample-data.sql -text
design/names-schema-2.0.mwb -text
design/names_schema_upgrade-2.1-to-2.4.sql -text
design/names_schema_v1.eap -text
design/names_schema_v1.sql -text
design/names_schema_v1_views.sql -text
design/names_schema_v2.0.sql -text
design/names_schema_v2.1.sql -text
design/names_schema_v2.2.eap -text
design/names_schema_v2.2.sql -text
design/names_schema_v2.3.1.eap -text
design/names_schema_v2.3.1.sql -text
design/names_schema_v2.3.eap -text
design/names_schema_v2.3.sql -text
design/names_schema_v2.4.eap -text
design/names_schema_v2.4.sql -text
design/names_schema_v2.5.sql -text
design/names_schema_v3.0.sql -text
docs/Names-Design-v2.3.docx -text
docs/Names-Design-v2.3.pdf -text
docs/Names-Installation-v2.3.pdf -text
docs/Names-Installation-v2.4.docx -text
docs/Names-devenv-instructions.docx -text
docs/Names-devenv-instructions.pdf -text svneol=unset#unset
docs/Naming[!!-~]Convention[!!-~]Tool[!!-~]User[!!-~]Manual.docx -text
docs/Naming[!!-~]Convention[!!-~]Tool[!!-~]User[!!-~]Manual.pdf -text svneol=unset#unset
/faces-config.NavData -text
/nb-configuration.xml -text
/pom.xml -text
src/main/java/org/openepics/names/model/Configuration.java -text
src/main/java/org/openepics/names/model/Device.java -text
src/main/java/org/openepics/names/model/DeviceRevision.java -text
src/main/java/org/openepics/names/model/DeviceRevisionType.java -text
src/main/java/org/openepics/names/model/NameCategory.java -text
src/main/java/org/openepics/names/model/NameHierarchy.java -text
src/main/java/org/openepics/names/model/NamePart.java -text
src/main/java/org/openepics/names/model/NamePartRevision.java -text
src/main/java/org/openepics/names/model/NamePartRevisionStatus.java -text
src/main/java/org/openepics/names/model/NamePartRevisionType.java -text
src/main/java/org/openepics/names/model/NameRelease.java -text
src/main/java/org/openepics/names/model/Persistable.java -text
src/main/java/org/openepics/names/model/Privilege.java -text
src/main/java/org/openepics/names/services/EssNamingConvention.java -text
src/main/java/org/openepics/names/services/FribNamingConvention.java -text
src/main/java/org/openepics/names/services/NamePartService.java -text
src/main/java/org/openepics/names/services/NamesEJB.java -text
src/main/java/org/openepics/names/services/NamingConvention.java -text
src/main/java/org/openepics/names/services/NamingConventionEJB.java -text
src/main/java/org/openepics/names/ui/CustomExceptionHandler.java -text
src/main/java/org/openepics/names/ui/CustomExceptionHandlerFactory.java -text
src/main/java/org/openepics/names/ui/DeviceNamesManager.java -text
src/main/java/org/openepics/names/ui/DeviceView.java -text
src/main/java/org/openepics/names/ui/EditNamesManager.java -text
src/main/java/org/openepics/names/ui/LoginManager.java -text
src/main/java/org/openepics/names/ui/MenuManager.java -text
src/main/java/org/openepics/names/ui/NamePartSelectionView.java -text
src/main/java/org/openepics/names/ui/NamesManager.java -text
src/main/java/org/openepics/names/ui/PreferencesManager.java -text
src/main/java/org/openepics/names/ui/PublicationManager.java -text
src/main/java/org/openepics/names/ui/ReportManager.java -text
src/main/java/org/openepics/names/ui/RequestProcManager.java -text
src/main/java/org/openepics/names/ui/UserManager.java -text
src/main/java/org/openepics/names/ui/ViewFactory.java -text
src/main/java/org/openepics/names/ui/names/NamePartView.java -text
src/main/java/org/openepics/names/ui/names/RequestManager.java -text
src/main/java/org/openepics/names/util/As.java -text
src/main/java/org/openepics/names/util/JpaHelper.java -text
src/main/java/org/openepics/names/webservice/DeviceNameResource.java -text
src/main/java/org/openepics/names/webservice/NameElement.java -text
src/main/java/org/openepics/names/webservice/NameElementCategoryResource.java -text
src/main/java/org/openepics/names/webservice/NameElementResource.java -text
src/main/java/org/openepics/names/webservice/NameEventResource.java -text
src/main/java/org/openepics/names/webservice/NameReleaseResource.java -text
src/main/java/org/openepics/names/webservice/NameRestService.java -text
src/main/resources/META-INF/persistence.xml -text
src/main/resources/messages.properties -text
src/main/setup/glassfish-resources.xml -text
src/main/webapp/WEB-INF/beans.xml -text
src/main/webapp/WEB-INF/faces-config.xml -text
src/main/webapp/WEB-INF/glassfish-resources.xml -text
src/main/webapp/WEB-INF/glassfish-web.xml -text
src/main/webapp/WEB-INF/includes/about.xhtml -text
src/main/webapp/WEB-INF/includes/dev-add-mod-form.xhtml -text
src/main/webapp/WEB-INF/includes/menubar.xhtml -text
src/main/webapp/WEB-INF/includes/nc-dev-history.xhtml -text
src/main/webapp/WEB-INF/includes/part-history.xhtml -text
src/main/webapp/WEB-INF/namesTemplate.xhtml -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/api-manual.xhtml -text
src/main/webapp/error.xhtml -text
src/main/webapp/expired.xhtml -text
src/main/webapp/help.xhtml -text
src/main/webapp/index.xhtml -text
src/main/webapp/login.xhtml -text
src/main/webapp/names.xhtml -text
src/main/webapp/nc-dev-edit.xhtml -text
src/main/webapp/nc-report.xhtml -text
src/main/webapp/nc-sig-edit.xhtml -text
src/main/webapp/parts-request-proc.xhtml -text
src/main/webapp/parts-request-sub.xhtml -text
src/main/webapp/preferences.xhtml -text
src/main/webapp/publish.xhtml -text
src/main/webapp/reports.xhtml -text
src/main/webapp/resources/comps/logincomp.xhtml -text
src/main/webapp/resources/css/cssLayout.css -text
src/main/webapp/resources/css/default.css -text
src/main/webapp/resources/images/ajax-loader.gif -text
src/main/webapp/resources/images/body-bg.jpg -text
src/main/webapp/resources/images/csv.png -text
src/main/webapp/resources/images/excel.png -text
src/main/webapp/resources/images/format.png -text
src/main/webapp/resources/images/header-bg.png -text
src/main/webapp/resources/images/pdf.png -text
src/main/webapp/resources/images/proteus.ico -text
src/main/webapp/resources/images/proteus.png -text
src/main/webapp/resources/images/xml.png -text
