* text=auto !eol
/README.txt -text
/Release-Notes.txt -text
data/categories-privileges.sql -text
data/sample-data.sql -text
design/names-schema-2.0.mwb -text
design/names_schema_upgrade-2.1-to-2.4.sql -text
design/names_schema_v1.eap -text
design/names_schema_v1.sql -text
design/names_schema_v1_views.sql -text
design/names_schema_v2.0.sql -text
design/names_schema_v2.1.sql -text
design/names_schema_v2.2.eap -text
design/names_schema_v2.2.sql -text
design/names_schema_v2.3.1.eap -text
design/names_schema_v2.3.1.sql -text
design/names_schema_v2.3.eap -text
design/names_schema_v2.3.sql -text
design/names_schema_v2.4.eap -text
design/names_schema_v2.4.sql -text
design/names_schema_v2.5.sql -text
design/names_schema_v3.0.sql -text
docs/Names-Design-v2.3.docx -text
docs/Names-Design-v2.3.pdf -text
docs/Names-Installation-v2.3.pdf -text
docs/Names-Installation-v2.4.docx -text
docs/Names-devenv-instructions.docx -text
docs/Names-devenv-instructions.pdf -text svneol=unset#unset
docs/Naming[!!-~]Convention[!!-~]Tool[!!-~]User[!!-~]Manual.docx -text
docs/Naming[!!-~]Convention[!!-~]Tool[!!-~]User[!!-~]Manual.pdf -text svneol=unset#unset
/faces-config.NavData -text
/nb-configuration.xml -text
/pom.xml -text
src/main/webapp/resources/images/ajax-loader.gif -text
src/main/webapp/resources/images/body-bg.jpg -text
src/main/webapp/resources/images/csv.png -text
src/main/webapp/resources/images/excel.png -text
src/main/webapp/resources/images/format.png -text
src/main/webapp/resources/images/header-bg.png -text
src/main/webapp/resources/images/pdf.png -text
src/main/webapp/resources/images/proteus.ico -text
src/main/webapp/resources/images/proteus.png -text
src/main/webapp/resources/images/xml.png -text
