.ui-widget-content {
	background-color: #e5eef2;
}

.ui-widget-header {
	background-color: #0094ca;
	color: white;
	font-weight: bold;
}

.ui-widget-header a {
	color: white;
}

.Modified {
/*     background-color:   palegreen; */
}

.Added {
/*     background-color:   palegreen; */
}

.In-Process {
/*     background-color:    salmon; */
}

.Deleted {
	text-decoration:   line-through;
    color: #aaaaaa;
}

.Header{
    font-size: 1em !important;
}

.Help {
    text-align: left;
}

.Link {
	font-weight:bold;
}

.unknown, .Cancelled  {
    text-decoration:   blink;
    color: var(cancel);
    text-style:italic;
}

/* styles for the new UI : row backgrounds */
.Published, .defualt {
}

.Approved {
/*     background-color: #DAEEF3; */
}

.Processing {
/*     background-color: #FCD5B4; */
}

/* styles for the new UI : text style */
.Insert-Processing, .Insert-Processing-New {
    color: #005d79 !important;
}

.Insert-Approved, .Insert-Approved-New {
    /* blank on purpose */
}

.Insert-Cancelled, .Insert-Cancelled-New {
    color: #aaaaaa !important;
    font-style: italic;
}

.Insert-Rejected, .Insert-Rejected-New {
    color: #c00000 !important;
    font-style: italic;
/*     font-weight: bold; */
}

.Modify-Processing, .Modify-Processing-New {
    color: #005d79 !important;
}

.Modify-Processing-Old {
    color: #ff7d00;
    text-decoration: line-through;
}

.Modify-Approved, .Modify-Approved-New {
    /* blank on purpose */
}

.Modify-Cancelled, .Modify-Cancelled-New {
    color: #aaaaaa;
    font-style: italic;
}

.Modify-Cancelled-Old {
    color: #aaaaaa;
    font-style: italic;
    text-decoration: line-through;
}

.Modify-Rejected, .Modify-Rejected-New {
    color: #c00000;
    font-style: italic;
    text-decoration: line-through;
}

.Modify-Rejected-Old {
    color: #c00000;
    font-style: italic;
    text-decoration: line-through;
}

.Delete-Processing, .Delete-Processing-New {
    color: #ff7d00;
    text-decoration: line-through;
}

.Delete-Approved, .Delete-Approved-New {
    color:#aaaaaa;
    text-decoration: line-through;
}

.Delete-Cancelled, .Delete-Cancelled-New {
    color:  #aaaaaa;
    font-style: italic;
}

.Delete-Rejected, .Delete-Rejected-New {
    color: #c00000;
    font-style: italic;
}



.noBorders>tbody>tr, .noBorders>tbody>tr>td {
    background: none;
    border: none;
    vertical-align: top;
}

.heading {
    text-align: left;
}

.fixedPosition {
    position: fixed;
    right: 5%;
    top: 10%;
}

.box {
    margin: 0px;
    padding: 10px;
    border: 0px solid #f3f3f5;
    border-radius: 7px;
    box-shadow: 0 0 7px 2px #888888;
    color: white;
    text-align: left;
    width: 80%;
    background-color: #FFFFFF; 
}

.boxf {
    margin: 0px;
    padding: 10px;
    border: 0px solid #000000;
    color: black;
    width: 90%;
    margin: 0  auto;
    background-color: #FFFFFF;
}

/* text wrap around in data table */
.ui-datatable td {
   white-space: normal !important;
}

.para {
    margin-bottom: 10px;
    padding: 0px;
    text-align: left;
    border: none;
}

.menubar {
    color: #e5eef2;
}


.title {
    color: #ffffff;
	font-style: normal;
	font-size: 2.5em;
	}

.Logo
{
    background-color: #0094ca;
	background-image: url('brand/logo-white.png');
    background-repeat: no-repeat;
   	background-position: left;
   	padding:20px;
   	text-align: center;
}

.ui-datatable-data {
    text-align: left;
}

.previewTreeTable {
	width: 600px;
	max-height: 300px;
	overflow: auto;
}

#top {
    position: relative;
    border: 1px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#menuform .ui-menuitem {
    margin-right: 7px;
}

.textScreen {
	max-width: 1100px;
}
