.ui-tabmenu .ui-tabmenu-nav {
	margin: 0px;
	padding: 0.2em 0.2em 0px;
}

li.ui-tabmenuitem.ui-status-active, li.ui-tabmenuitem.ui-status-default,
	li.ui-tabmenuitem.ui-status-hover {
	border: 0px none;
}
/* button */
.ui-button {
	vertical-align: middle;
	padding: 0px !important;
	margin: 0px !important;
	height: 30px !important;
}

/* Inputfield */
.ui-inputfield {
	vertical-align: middle;
	margin: 0px;
	padding: 4px;
	height: 30px;
	font-weight: normal;
}


.ui-inputtextarea {
	min-width: 100%;
	max-width: 100%;
	height: 75px;
}

.ui-outputlabel {
	
}

/* .ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus { */
/*     box-shadow: 0px 0px 5px #006a91, inset 0 2px 2px #8f8f8f; */
/* } */

/* Selectonemenu */
.ui-selectonemenu {
	vertical-align: middle;
	/* bug workaround to prevent outputLabel to be positioned at bottom.*/
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.ui-selectonemenu .ui-selectonemenu-label {
	font-weight: normal;
	overflow: hidden;
	padding: 4px;
	margin: 0px;
	width: 100%;
	height: 20px;
	/*bug workaround. Should be 30px inherited from .ui-inputfield, but have to remove padding+border. */
}

.ui-treetable-scrollable .ui-treetable-scrollable-header,
	.ui-datatable-scrollable .ui-datatable-scrollable-header {
	background: transparent;
	border: 0px none;
}


.ui-treetable-scrollable-body {
	overflow-y: scroll !important;
}

.ui-treetable table {
	width: 100%;
}

.ui-treetable .ui-treetable-header {
	text-align: left;
}

.ui-datatable table {
	width:100%;
}

.ui-tree {
	width: 100%;
	height: 300;
	overflow: auto;
}

.ui-wizard {
	width: 100%;
	height: 100%;
}

.ui-wizard-navbar {
	height: 50px;
	 /* bug workaround to prevent overflow */
}

.Help {
	text-align: left;
}

.Link {
	font-weight: bold;
}

/* styles for the new UI : */
.Approved, .Propose-default {
	/* blank on purpose */
	
}

.Propose-added {
	color: #5D7204;
}

.Propose-deleted {
	color: #C81919;
}

.Cancelled, .Rejected, .Deleted {
	color: #aaaaaa;
}

.Proposed {
	font-weight: bold;
}

.Propose-deleted, .Cancel .Propose-added, .Delete, .Deleted {
	text-decoration: line-through;
}

/* .noBorders>tbody>tr, .noBorders>tbody>tr>td { */
/* 	background: none; */
/* 	border: none; */
/* 	vertical-align: top; */
/* } */

/* .fixedPosition { */
/* 	position: fixed; */
/* 	right: 5%; */
/* 	top: 10%; */
/* } */

/* .box { */
/* 	margin: 0px; */
/* 	padding: 10px; */
/* 	border: 0px solid #f3f3f5; */
/* 	border-radius: 7px; */
/* 	box-shadow: 0 0 7px 2px #888888; */
/* 	color: white; */
/* 	text-align: left; */
/* 	width: 80%; */
/* 	background-color: #FFFFFF; */
/* } */

/* .boxf { */
/* 	margin: 0px; */
/* 	padding: 10px; */
/* 	border: 0px solid #000000; */
/* 	color: black; */
/* 	width: 90%; */
/* 	margin: 0 auto; */
/* 	background-color: #FFFFFF; */
/* } */

/* text wrap around in data table */
/* .ui-datatable td { */
/* 	white-space: normal !important; */
/* } */
.para {
	margin-bottom: 10px;
	padding: text-align: left;
	border: none;
}

#title {
	font-style: normal;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
}

#logoPanel {
	height: 100px;
	background-image: url('brand/logo.png');
	background-repeat: no-repeat;
}

/* .ui-datatable-data { */
/* 	text-align: left; */
/* } */

/* #top { */
/* 	position: relative; */
/* 	border: 1px; */
/* 	padding: 5px; */
/* 	margin: 0px 0px 10px 0px; */
/* } */

/* #menuform .ui-menuitem { */
/* 	margin-right: 7px; */
/* } */
.textScreen {
	max-width: 1100px;
}