body {
/*     height:100%; */
    width:100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}

html {
    height:100%;
}


table {
    border-spacing:0;
}

a {
    text-decoration:none;
}

body:after,.cf:after {
    content:'.';
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

/* body { */
/*     font-size: 12px; */
/*     font-family:Arial, sans-serif; */
/* } */

h3 {
	color:#005d79;
}

sec{
/* 	color:  #0094ca; */
	color:#005d79;
	font-family: monospace;
}

dev{
/* 	color:  #99CC00; */
	color: green;
	font-family: monospace;
}
