/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	background: #FFFFFF;
}

.ui-widget .ui-widget {
	font-size: 1.0em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: Arial, sans-serif;
	font-size: 1.0em;
}

.ui-widget-content {
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	color: #000000;
}

.ui-widget-content a {
	color: #000000;
}

.ui-widget-header {
	border: 1px solid #0094ca;
	background: #0094ca;
	color: #FFFFFF;
	font-weight: normal;
	text-shadow: none;
}

.ui-widget-header a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	box-shadow: none;
	border: 1px solid #0094ca;
	background: #0094ca;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: #FFFFFF;
	text-decoration: none;
}

.ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-state-hover{
	box-shadow: none;
	border: 1px solid #6fbee1;
	background: #6FBEE1;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow: none;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link,
	.ui-state-hover a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: none;
	border: 1px solid #6FBEE1;
	background: #6FBEE1;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow: none;
}

.ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link,
	.ui-state-focus a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	box-shadow: none;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	font-weight: normal;
	color: #0094ca;
	text-shadow: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #0094ca;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
}

/* Interaction Cues
----------------------------------*/
.ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
	{
	box-shadow: none;
	border: 1px solid #DDDDDD;
	text-shadow: none;
	background: #DDDDDD;
	color: #000000;
}

.ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
	{
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	border: 1px solid #ff7d00;
	background: #FF7D00;
	background-image: none;
	color: #FFFFFF;
	text-shadow: none;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
}

.ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
	{
	font-weight: bold;
}

.ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
	{
	opacity: .7;
	filter: Alpha(Opacity = 70); /* support: IE8 */
	font-weight: normal;
}

.ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
	{
	opacity: .35;
	filter: Alpha(Opacity = 35); /* support: IE8 */
	background-image: none;
}

.ui-state-disabled .ui-icon {
	filter: Alpha(Opacity = 35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_005d79_256x240.png");
}

.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_FFFFFF_256x240.png");
}

.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_FFFFFF_256x240.png");
}

.ui-state-hover .ui-icon {
	background-image: url("images/ui-icons_FFFFFF_256x240.png");
}

.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_FFFFFF_256x240.png");
}

.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_0094ca_256x240.png");
}

.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_005d79_256x240.png");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_FFFFFF_256x240.png");
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl,
	.ui-corner-right, .ui-corner-tr, .ui-corner-bottom, .ui-corner-bl,
	.ui-corner-br {
	border-radius: 0px;
}

/* Overlays */
.ui-widget-overlay {
	background-color: #aaaaaa;
	background-image: none;
	opacity: .3;
	filter: Alpha(Opacity = 30);
	support: IE8
}

.ui-widget-shadow {
	margin: 5px 0 0 5px;
	padding: 0px;
	background-color: #999999;
	background-image: none;
	opacity: .45;
	filter: Alpha(Opacity = 45);
	support: IE8 border-radius: 0px;
}

.ui-tabmenu-nav, .ui-tabmenu {
	border: 0px solid #006A91;
	background: #006A91;
	color: #FFFFFF;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: #ffffff;
	box-shadow: inset 0 2px 2px #8f8f8f;
	color: #000000;
	font-weight: normal;
}

kbd {
	font-size: 1.2em;
}

sec, .sec {
	color: #0094ca;
	font-family: monospace;
	font-size: 1.2em;
}

dev, .dev {
	color: #99CC00;
	font-family: monospace;
	font-size: 1.2em;
}

